<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1 id="homepage"></h1> <br><br><br>
        <a href="/signup" class="btn" id="sign_up">Sign Up </a>
        <a href="/signin" class="btn" id="sign_in">Sign In </a>
    </div>
</body>
</html>
